/backend_express/node_modules
/backend_nest/node_modules
/frontend/node_modules
/uploader/node_modules

/frontend/.env
/uploader/.env
/backend_nest/.env
/backend_express/.env
/rabbit/.env
/mysql/.env
.env

/.idea
frontend/.eslintcache
