/backend_express/node_modules
/backend_express/.env
/backend_nest/node_modules
/backend_nest/.env
/frontend/node_modules
/frontend/.env
/uploader/node_modules
/uploader/.env
/.idea
/.env
/rabbit/.env
/mysql/.env
frontend/.eslintcache
